<style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin: 0;
        padding-bottom: 100px;
        /* Altura estimada do footer */
        box-sizing: border-box;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #dc3545;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 20px;

    }
</style>


<footer>
    <p class="lead mb-0">Aluro &reg;</p>
    <p class="lead mb-0">Copyright &copy; 2024</p>
    <p class="lead">Todos os direitos reservados</p>
</footer>