<section id="home" class="home-section">
    <div class="container">
        <h2>Bem-vindo à nossa Plataforma de Cursos</h2>
        <p>Descubra os benefícios de utilizar nossa plataforma para aprimorar suas habilidades.</p>

        <!-- Cards dos benefícios -->
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card-painel">
                    <div class="card-body">
                        <h5 class="card-title">Flexibilidade</h5>
                        <p class="card-text">Acesse os cursos a qualquer momento, de qualquer lugar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-painel">
                    <div class="card-body">
                        <h5 class="card-title">Variedade de Cursos</h5>
                        <p class="card-text">Diversos cursos em diferentes áreas de conhecimento.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-painel">
                    <div class="card-body">
                        <h5 class="card-title">Qualidade de Ensino</h5>
                        <p class="card-text">Conteúdos elaborados por especialistas nas respectivas áreas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-painel">
                    <div class="card-body">
                        <h5 class="card-title">Suporte Personalizado</h5>
                        <p class="card-text">Suporte dedicado para ajudar você em sua jornada de aprendizado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>