{% extends "pages/base.html" %}
{% block subtitulo %}Sobre o Projeto{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Sobre o Projeto</b></h1>
<hr>
<p>Este projeto foi desenvolvido para a disciplina de Desenvolvimento Web, ministrada pelo professor Ricardo Maroquio. Ele tem como objetivo aprimoramento nas técnicas de desenvolvimento web com utilização de técnicas avançadas de Jinja, SQL, HTML, CSS, FastAPI.</p>
<h2>Integrantes da Equipe</h2>
<hr>
<div class="row">
    <div class="col-lg-6 mb-5 text-center">
        <img src="/static/img/grupo/matheus.png" class="img-fluid rounded-circle" alt="Matheus Modolo">
        <h3>Matheus Modolo</h3>
        <p>26 Anos</p>
        <p>Estudante do 7º Período</p>
    </div>
    <div class="col-lg-6 mb-5 text-center">
        <img src="/static/img/grupo/wesley.png" class="img-fluid rounded-circle" alt="Wesley Pereira">
        <h3>Wesley Pereira</h3>
        <p>26 Anos</p>
        <p>Estudante do 7º Período</p>
    </div>
</div>
{% endblock %}
